
*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: aquamarine;
    border: 10px solid;
    max-height: 1000px;
}

p{
    display: inline;
    border: 1px solid ;
    background-color: blue;
    color: white;
    text-align: left;
}
a{
    display: grid;
}
a:hover{
    cursor: pointer;
}
img{
    display: block;
    border: 2px solid red;
    border-radius: 80px;
    padding: 2px;
    width: 50px;
    margin-left: 60px;
    margin-right: auto;
    cursor: pointer;

}